ams.host=
ams.port=
ams.username=
ams.password=
ams.database=
ams.url=jdbc:mysql://${db.host}:${db.port}/${db.database}?password=${db.password}&user=${db.username}

mediahaven.host=
mediahaven.port=
mediahaven.basepath=
mediahaven.username=
mediahaven.password=
mediahaven.authstring=

glue.username=
glue.password=
glue.host=api.createsend.com
glue.port=443
glue.basepath=/api/v3.1/transactional/smartemail

ldap.authdn=
ldap.authpassword=
ldap.url=

slack.token=
slack.channelid=

rabbit.host=
rabbit.port=
rabbit.username=
rabbit.password=
rabbit.virtualhost=
rabbit.notificationqueue=