amqp.host=
amqp.port=
amqp.username=
amqp.password=
amqp.virtualhost=
amqp.publishqueue=

db.host=
db.port=
db.username=
db.password=
db.database=
db.url=jdbc:postgresql://${db.host}:${db.port}/${db.database}?password=${db.password}&user=${db.username}

smtp.host=
smtp.port=
smtp.mailFrom=
smtp.mailTo=

mediahaven.host=
mediahaven.port=
mediahaven.basepath=
mediahaven.authstring=